:root {
    color-scheme: dark;
    --bg: hsl(223 6.7% 20.6%);
    --fg: white;
    --fg-secondary: #b5bac1;
    --fg-semi-trans: rgb(255 255 255 / 0.2);
    --link: #00a8fc;
    --link-hover: #0086c3;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    background: var(--bg);
    color: var(--fg);
}

a {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}
